rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Berlaku untuk semua koleksi (bisa juga kamu ubah ke /contacts/{docId} kalau spesifik)
    match /{collection}/{docId} {

      // Semua orang (termasuk tanpa login) boleh baca dan buat data baru
      allow read, create: if true;

      // Hanya user yang login yang boleh update dan delete
      allow update, delete: if request.auth != null;
    }
  }
}
